/* ##################################
 * Deep Blue Theme:
 * #1c2349 	primary color (blue)
 * #5a688d	secondary / hover color (blue)
 * #ffffff	text color (white)
 * ##################################
 */

.logo-parent a {
	/* Primary color */
	background-color: #1c2349;
}

.logo-parent a:hover {
	/* Secondary color */
	background-color: #5a688d;
}

.main-nav a:hover, .main-nav .current a {
	/* Secondary color */
	background-color: #5a688d;
}

.main-content .center {
	/* Primary color */
	background-color: #1c2349;
}

.sidebar {
	/* Third -- sidebar background color, should be the primary color at about 0.1 alpha over white */
	background-color: #c2c2d1;
}

.sidebar h2 {
	/* Primary color */
	background-color: #1c2349;
	
	/* Secondary color */
	color: #ffffff;
}

/**************
END COLOR THEME
***************/
